{% include 'main\base.html' %}
{% load static %}
    <body>
        <main class="main-page">
            <div class="left-bar-news">
                <selection class="top-of-the-day">
                    <h1 class="top-of-the-day-header">Главное за день</h1>
                    {% block leftBarNews %}
                        {% for item in topToday %}
                            {% if item.published %}
                                <div class="top-of-the-day-block">
                                    <p>
                                        <div class="top-of-the-day-header-category">
                                            <a href="{% url item.categoryKey.categoryNameENG %}">{{ item.categoryKey.categoryNameRU }}</a> | {{ item.date|date:'H:i' }}<br>
                                        </div>

                                        <div class="top-of-the-day-news-header-link">
                                            <a href="{{ item.get_absolute_url }}">{{ item.header }}</a>
                                        </div>
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                </selection>
            </div>

            <div class="central-bar-news">
                <selection class="important-news">
                    <h1 class="important-news-header">Важное</h1>
                    {% block centralBarNews %}
                        {% for item in content %}
                            {% if item.published and item.important %}
                                <div class="important-news-block">
                                    <p>
                                        <div class="important-news-header-category">
                                            <a href="{% url item.categoryKey.categoryNameENG %}">{{ item.categoryKey.categoryNameRU }}</a> | {{ item.date|date:'d.m, H:i' }}<br>
                                        </div>

                                        <div class="important-news-header-link">
                                            <a href="{{ item.get_absolute_url }}">{{ item.header }}</a>
                                        </div>
                                        {% if item.picture != null %}
                                            <div class="important-news-header-pic">
                                                <img src="{% static item.picture %}">
                                            </div>
                                        {% endif %}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                </selection>
            </div>

            <div class="right-bar-news">
                <selection class="news-feed">
                    <h1 class="news-feed-header">Новостная лента</h1>
                    {% block rightBarNews %}
                        {% for item in content %}
                            {% if item.published %}
                                <div class="news-feed-block">
                                    <p>
                                        <div class="news-feed-header-category">
                                            <a href="{% url item.categoryKey.categoryNameENG %}">{{ item.categoryKey.categoryNameRU }}</a> | {{ item.date|date:'d.m, H:i' }}<br>
                                        </div>

                                        <div class="news-feed-header-link">
                                            <a href="{{ item.get_absolute_url }}">{{ item.header }}</a>
                                        </div>
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                </selection>
            </div>
        </main>
    </body>
</html>